 *{
    margin :0;
}

.header{
    background-color: #00D2C6;
    height: 121px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
    position:sticky;
    top:0;
    z-index: 1;

}
.logo img{
        width: 90px;
        height: 90px;
        margin: 18px;
}
.links{
    position: relative;
    left: 347px;
}
.links a{
    padding: 15px;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    
    font-weight: 500;
letter-spacing: 0px;
text-decoration: none;
color: white;
}  

.links a:hover{
    text-decoration: underline;
}
.link_logo img{
   width: 27px;
    height: 29px;
    padding-right: 1px;
    cursor: pointer;
    
}
.link_logo{
    margin-right:50px;
}
.content1 button{
    position: absolute;
    top: 560px;
    left: 79px;
    
    padding: 7px 29px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;

    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    cursor: pointer;
}
  /* .content1 button:hover{
    background-color: white;
    color: #00D2C6;
    transition: 0.1s; 
}  */
.content1{
    position: relative;
}
.content2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content3{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_recipe{
    position: relative;
    top: 300px;
    width:45%;
    height: 195px;
    background-color:rgba(10, 91, 43, 0.8);
    position: absolute;
    border-radius: 105px;
    /* display: flex;
    justify-content: center; */
    
}
.text22 p{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    transform: scaleY(1.1);
    
}
.text23 p{
   display: flex;
   justify-content: center;
   padding-top: 13px;
   color: white;
    /* display: inline-block;    */
    transform: scaleY(1.3);
}
.button1{
    display: flex;
    justify-content: center;
    padding-top: 28px;
    

}
.button1 button{
    font-size:20px ;
    color: #ffff;
    border-radius: 20px;
    width: 187px;
    height: 36px;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;

    
}


.content1 h1{
    position:absolute;
   top: 414px;
    left: 79px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
    line-height: 1.1;

}

.content1 img,
.content2 img,
.content3 img{
    display: block;
    height: 750px;
    width: 100%;
}
.footer{
    width: 100%;
    height: 125px;
    background-color: #4A4A4A;
}
.short_list{
    display: flex;
    justify-content: center;
    padding: 3px; 
    
}
.short_list2{
    display: flex;
    justify-content: center;
    padding: 1px; 
}
.short_list a{
    padding: 12px;
    font-size: 12px;
    color: white;
    text-decoration: none;
     font-weight: 800; 
    font-family: ;
}
.short_list2 p{
    font-size: 11px;
    color: #fff;
     font-weight: 800; 

}
.short_list a:hover{
    text-decoration: underline;
}